/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: large;
    margin: 10px;
  }
  
  article {
    position: center;
  }
  
  h1 {
    font-size: large;
    margin: auto;
  }
  
  h2 {
    font-size: large;
    margin: auto;
  }
  
  img {
    max-width: 100%;
    margin-top: 50px;

  }

  
  main {
    display: flex;
    flex-flow: column;
  }
  
  section {
    display: flex;
    flex-flow: row wrap;
  }
  
  figure {
    margin: 2px;
    width: 30%;
    display: flex;
    flex-flow: column;
  }
  
  figcaption {
    font-size: .8em;
  }

@media screen and (max-width: 768px){
  body{
    background-color: aqua;
  }  
}

@media screen and (min-width: 992px){
  body{
    background-color: aquamarine;
    margin: 20px;
    max-width: 100%;
  }  
}